<div class="relative flex flex-col w-full h-full">

    <!-- Dismiss button -->
    <!-- Content -->
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8">

        <!-- Icon -->
        <div class="flex flex-col items-center sm:items-start mt-4 sm:mt-0 sm:pr-8 space-y-1 text-center sm:text-left">

            <!-- Title -->
            <div class="text-xl leading-6 font-medium"> <i class="fa fa-warning" style="font-size:24px;color:red"></i>
                <h2>Thông báo</h2>
            </div>

            <!-- Message -->
            <div class="text-secondary break-all">Bạn có chắc chắn muốn cập nhật trạng thái này không?</div>
        </div>
    </div>

    <!-- Actions -->
    <div style="text-align: center;">
        <!-- Confirm -->
        <button mat-flat-button [matDialogClose]="true" style="background-color: rgba(4, 61, 131, 0.829); color: aliceblue;">
            <i class="fa fa-check"></i>
            Ok
        </button>
        <!-- Cancel -->
        <button mat-stroked-button [matDialogClose]="false" style="background-color: #ff0000; color: aliceblue;">
            <i class="fa fa-close"></i>
            Đóng
        </button>
    </div>

</div>
