<div style="width: 100%;" style="height: 11%;">
    <app-toolbar flexLayout="row" (toggleEvent)="nameEventHander($event)">
    </app-toolbar>
    <!-- <app-toolbar flexLayout="row"></app-toolbar> -->
</div>
<div class="dashboard-content" style="height: 84%; margin-left: 0%; padding-left: 0%;">
    <div class="sidenav-div" *ngIf="isAdmin || isSeller">
        <mat-sidenav-container class="sidenav-container">

            <mat-sidenav [(opened)]="opened2" mode="side" class="matSidenav">
                <app-sidenavbar class="app-sidenavbar" fxFlex></app-sidenavbar>
            </mat-sidenav>

            <mat-sidenav-content class="sidenav-content">

                <div *ngIf="isAdmin">
                    <div>
                        <canvasjs-chart [options]="chartOptions"
                            [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                    </div>
                    <div>
                        <canvasjs-chart [options]="chartOptions1"
                            [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                    </div>
                </div>






            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>




    <div *ngIf=" !isAdmin">
        <app-displaybook></app-displaybook>
        <router-outlet></router-outlet>
    </div>

</div>

