table {
    width: 100%;
  }
  .matSidenav {
    font-size: medium;
    font-family: monospace;
    width: 15%;
    height: 100%;
    margin: 0;
    top: 0;
    overflow: hidden;
    justify-content: center !important;
    background-color: rgb(255, 255, 255);
    // background-color: transparent;
    // border-color: 1px whitesmoke;
    border:none;
    margin-top: 10px;
  }  